@font-face {
  font-family: "myFirstFont";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
  font-style: normal;
  font-size: 400;
}

body {
  background-color: rgb(186, 184, 190);
  margin: 0;
  padding: 0;
  font-family: "myFirstFont";
}

.chatbox {
  background-color: antiquewhite;
  display: grid;
}

