@font-face {
  font-family: "myFirstFont";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
  font-style: normal;
  font-size: 400;
}

body {
  background-color: rgb(186, 184, 190);
  margin: 0;
  padding: 0;
  font-family: "myFirstFont";
}

#main-header {
  color: #e4bcc1;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 60px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.section-heading {
  font-size: 40px;
  color: #4a484b;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Main navigation line*/

.main-nav {
  height: 45px;
  background-color: #4a484b;
  border-bottom: #c8c0d9 0.8px solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-flow: row;
}

.main-nav li {
  border-right: #e4bcc1 0.8px solid;
  border-left: #e4bcc1 0.8px solid;
  padding: 15px 25px;
  letter-spacing: 0.5px;
}

.main-nav i {
  color: #e4bcc1;
  padding: 15px;
}

#service {
  margin-top: 15px;
  margin-left: 15px;
}

.main-nav div {
  display: inline-block;
}

.main-nav a {
  color: #e4bcc1;
  text-decoration: none;
}

a:hover {
  color: palevioletred;
  -webkit-text-stroke: 0.1px palevioletred;
}

a:active {
  color: #c8c0d9;
  -webkit-text-stroke: 0.1px palevioletred;
}

/* video container + p + book button + form */

#video {
  width: 1437px;
  height: 600px;
  object-fit: cover;
}

i {
  /* paw icon + facebook + instagram from navigation bar */
  color: #e0f2f1;
}

.overlay i {
  /* only paw icon */
  font-size: 40px;
  margin-top: 180px;
  text-shadow: 1px 3px 0 #4a484b;
}

.overlay {
  /* main header + p + button */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 80px 35px;
  display: block;
  padding: 45px;
}

.overlay p {
  font-size: 30px;
  color: #4a484b;
  text-shadow: 1px 1px black;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

.primary-button {
  border-radius: 8px;
  color: #d0e0e5;
  border-color: #d0e0e5;
  padding: 10px;
  background-color: #4a484b;
}

.overlay2 {
  /* form section on top of video container*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0px 1110px;
  display: block;
}

/* booking form */
#form {
  background-color: #4a484b;
  width: 300px;
  height: 515px;
  padding: 20px;
  margin-top: 45px;
  border-top: 1px dashed pink;
}

legend {
  color: pink;
  font-size: 25px;
}

legend ~ label {
  color: pink;
  -webkit-text-stroke: 0.5px darkgray;
  display: flex;
  flex-flow: column;
  margin-top: 25px;
}

input {
  background-color: rgb(252, 243, 244);
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: 15px;
}

input:placeholder-shown {
  color: #c8c0d9;
}

input:focus {
  background-color: rgb(250, 212, 218);
}

/* Services section (cards) */

.cards img {
  height: 200px;
  width: 300px;
  border-radius: 16px;
}

.cards {
  width: 300px;
  background-color: #e4bcc1;
  border-radius: 16px;
  margin: 30px;
  padding-bottom: 25px;
}

.container h4::first-letter {
  color: black;
  font-size: 150%;
}

.container h4 {
  color: black;
  text-align: center;
  padding-top: 10px;
}

.container h4 ~ p {
  color: black;
  text-align: center;
  padding-top: 8px;
}

.container {
  padding: 10px 50px;
}

.cards:hover {
  box-shadow: 0px 25px 25px 0 rgba(252, 250, 250, 0.2);
  transform: scale(1.05);
}

.card button {
  background-color: #e4bcc1;
}

#services {
  background-color: #4a484b;
  border-radius: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  object-fit: cover;
}

.secondary-button {
  background-color: rgb(93, 117, 119);
  border-radius: 8px;
  color: #d0e0e5;
  background-color: #323636;
  border-color: #d0e0e5;
  padding: 10px;
  margin-left: 20px;
}

#services button {
  display: block;
  margin-left: 620px;
  margin-bottom: 25px;
  margin-top: 40px;
}

.ribbon {
  position: absolute;
  background-color: #6f8e8e;
  font-size: 20px;
  color: #e0f2f1;
  font-variant: small-caps;
  font-weight: 500;
  transform: rotateZ(-45deg);
  display: flex;
  justify-content: center;
  top: 38px;
  left: -60px;
  padding: 4px 60px;
}

#deal-container{
  position: relative;
  overflow: hidden;
}


#services h2 {
  border: 1px dashed pink;
}

/* About Us section */

#about-us h2 {
  color: black;
  font-weight: 700;
  text-shadow: 1px 1px white;
}

#about-us img {
  height: 550px;
  margin-left: 270px;
  margin-right: -120px;
}

#about-us p {
  color: #e4bcc1;
  font-size: 20px;
  height: 350px;
  width: 400px;
  text-align: center;
  padding: 25px 10px 25px 10px;
  letter-spacing: 0.6px;
  line-height: 30px;
  font-weight: lighter;
  background-color: #4a484b;
  margin: 60px;
}

#about-us {
  display: flex;
  flex-direction: row;
}

/* Price list section*/

/* Gallery section */

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.scrollable-images {
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: 700ms cubic-bezier(0.075, 0.02, 0.165, 1);
  transform-origin: center;
}

.scrollable-images img {
  width: 100px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  filter: grayscale(100%);
}

.scrollable-images img:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
}

/* Contacts section */

.contacts-container ul {
  display: flex;
  flex-flow: row;
  gap: 45px;
  margin-left: 250px;
}

.contacts-box {
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.contacts-box i {
  font-size: 50px;
  color: #4a484b;
  text-shadow: 3px 3px #e4bcc1;
}

.contacts-box h5 {
  font-weight: 700;
  font-size: 20px;
}

.contacts-box p {
  font-size: 20px;
}

iframe {
  display: flex;
  margin-left: 35%;
  margin-top: 50px;
}

iframe:hover {
  transform: scale(2);
  transition: 500ms;
}

/* Footer */

.footer {
  margin-top: 50px;
  height: 180px;
  width: 1437px;
  background-color: #4a484b;
}

.footer-media {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  font-size: 30px;
  gap: 30px;
}

.footer-media i {
  color: #e4bcc1;
}

.footer p {
  color: #e4bcc1;
  text-align: center;
  margin-top: 25px;
  font-size: small;
}

[href] {
  text-decoration: none;
  color: black;
}
