/*
* Browsers: last 120 version
*/

@font-face {
  font-family: "myFirstFont";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
  font-style: normal;
  font-size: 400;
}

body {
  background-color: rgb(186, 184, 190);
  margin: 0;
  padding: 0;
  font-family: "myFirstFont";
}

main {
  position: relative;
}

#main-header {
  color: #e4bcc1;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 60px;
  letter-spacing: 0.5px;
  font-weight: 700;
  z-index: 2;
  text-shadow: 1px 1px #323636;
}

.section-heading {
  font-size: 40px;
  color: #4a484b;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Chatbox icon*/

.chatbox img {
  position: fixed;
  left: 1320px;
  height: 90px;
  width: auto;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  background-color: none;
  z-index: 3;
}

.chatbox img:hover {
  -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 500ms;
     -moz-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-box-shadow: 0px 25px 25px 0 rgba(252, 250, 250, 0.2);
     -moz-box-shadow: 0px 25px 25px 0 rgba(252, 250, 250, 0.2);
          box-shadow: 0px 25px 25px 0 rgba(252, 250, 250, 0.2);
}

/* Promotion line*/

.discount-line {
  background: #212121;
  overflow: hidden;
  height: 65px;
  position: relative;
}

.discount-line div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
  height: 65px;
  -webkit-transform: translate(100%, 0);
     -moz-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
       -o-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.discount-line p {
  text-transform: uppercase;
  font-size: 40px;
  color: #e4bcc1;
}

.discount-line img {
  height: 60px;
}

.discount-line__first-half,
.discount-line__second-half {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: discount infinite linear forwards;
     -moz-animation: discount infinite linear forwards;
       -o-animation: discount infinite linear forwards;
          animation: discount infinite linear forwards;
}

.discount-line__second-half {
  -webkit-animation: discount 10000ms infinite linear forwards;
     -moz-animation: discount 10000ms infinite linear forwards;
       -o-animation: discount 10000ms infinite linear forwards;
          animation: discount 10000ms infinite linear forwards;
}

@-webkit-keyframes discount {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }

  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@-moz-keyframes discount {
  0% {
    -moz-transform: translate(100%, 0);
         transform: translate(100%, 0);
  }

  50% {
    -moz-transform: translate(0, 0);
         transform: translate(0, 0);
  }

  100% {
    -moz-transform: translate(-100%, 0);
         transform: translate(-100%, 0);
  }
}

@-o-keyframes discount {
  0% {
    -o-transform: translate(100%, 0);
       transform: translate(100%, 0);
  }

  50% {
    -o-transform: translate(0, 0);
       transform: translate(0, 0);
  }

  100% {
    -o-transform: translate(-100%, 0);
       transform: translate(-100%, 0);
  }
}

@keyframes discount {
  0% {
    -webkit-transform: translate(100%, 0);
       -moz-transform: translate(100%, 0);
         -o-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }

  50% {
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-100%, 0);
       -moz-transform: translate(-100%, 0);
         -o-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

/* Main navigation line*/

.nav-container {
  height: 45px;
  background-color: #4a484b;
  border-bottom: #c8c0d9 0.8px solid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.main-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.main-nav li {
  border-right: #e4bcc1 0.8px solid;
  border-left: #e4bcc1 0.8px solid;
  padding: 15px 25px;
  letter-spacing: 0.5px;
}

.main-nav i {
  color: #e4bcc1;
  padding: 15px;
}

#service {
  margin-top: 15px;
  margin-left: 15px;
}

.main-nav div {
  display: inline-block;
}

.main-nav a {
  color: #e4bcc1;
  text-decoration: none;
}

a:hover {
  color: palevioletred;
  -webkit-text-stroke: 0.1px palevioletred;
}

a:active {
  color: #c8c0d9;
  -webkit-text-stroke: 0.1px palevioletred;
}

/* video container*/

#video {
  width: 1437px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

path,
circle {
  -webkit-transform: rotate(-30deg);
     -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
       -o-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
       -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.overlay {
  /* main header + p + button */
  position: absolute;
  top: 0;
  left: 0;
  margin: 80px 5px;
  display: block;
  padding: 45px;
}

.overlay h2 {
  font-size: 30px;
  color: #4a484b;
  text-shadow: 1px 1px black;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

/* Animation book button inside video container*/

.header-btn {
  background-color: #e4bcc1;
  color: #323636;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  font-size: 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  overflow: hidden;
}

.header-btn p {
  letter-spacing: 2px;
  margin-right: 10px;
  margin-left: 15px;
}

.header-btn--first-arrow {
  -webkit-transform: translate(-15px);
     -moz-transform: translate(-15px);
      -ms-transform: translate(-15px);
       -o-transform: translate(-15px);
          transform: translate(-15px);
}

@-webkit-keyframes arrow1 {
  from {
    -webkit-transform: translate(-15px);
            transform: translate(-15px);
  }
  to {
    -webkit-transform: translate(25px);
            transform: translate(25px);
  }
}

@-moz-keyframes arrow1 {
  from {
    -moz-transform: translate(-15px);
         transform: translate(-15px);
  }
  to {
    -moz-transform: translate(25px);
         transform: translate(25px);
  }
}

@-o-keyframes arrow1 {
  from {
    -o-transform: translate(-15px);
       transform: translate(-15px);
  }
  to {
    -o-transform: translate(25px);
       transform: translate(25px);
  }
}

@keyframes arrow1 {
  from {
    -webkit-transform: translate(-15px);
       -moz-transform: translate(-15px);
         -o-transform: translate(-15px);
            transform: translate(-15px);
  }
  to {
    -webkit-transform: translate(25px);
       -moz-transform: translate(25px);
         -o-transform: translate(25px);
            transform: translate(25px);
  }
}

.header-btn:hover .header-btn--first-arrow {
  -webkit-animation-name: arrow1;
     -moz-animation-name: arrow1;
       -o-animation-name: arrow1;
          animation-name: arrow1;
  -webkit-animation-duration: 500ms;
     -moz-animation-duration: 500ms;
       -o-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #323636;
}

@-webkit-keyframes bookNow {
  from {
    -webkit-transform: translate(-1px);
            transform: translate(-1px);
  }
  to {
    -webkit-transform: translate(30px);
            transform: translate(30px);
  }
}

@-moz-keyframes bookNow {
  from {
    -moz-transform: translate(-1px);
         transform: translate(-1px);
  }
  to {
    -moz-transform: translate(30px);
         transform: translate(30px);
  }
}

@-o-keyframes bookNow {
  from {
    -o-transform: translate(-1px);
       transform: translate(-1px);
  }
  to {
    -o-transform: translate(30px);
       transform: translate(30px);
  }
}

@keyframes bookNow {
  from {
    -webkit-transform: translate(-1px);
       -moz-transform: translate(-1px);
         -o-transform: translate(-1px);
            transform: translate(-1px);
  }
  to {
    -webkit-transform: translate(30px);
       -moz-transform: translate(30px);
         -o-transform: translate(30px);
            transform: translate(30px);
  }
}

.header-btn:hover .header-btn__p {
  -webkit-animation-name: bookNow;
     -moz-animation-name: bookNow;
       -o-animation-name: bookNow;
          animation-name: bookNow;
  -webkit-animation-duration: 500ms;
     -moz-animation-duration: 500ms;
       -o-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #323636;
}

@-webkit-keyframes arrow2 {
  from {
    -webkit-transform: translate(-1px);
            transform: translate(-1px);
  }
  to {
    -webkit-transform: translate(70px);
            transform: translate(70px);
  }
}

@-moz-keyframes arrow2 {
  from {
    -moz-transform: translate(-1px);
         transform: translate(-1px);
  }
  to {
    -moz-transform: translate(70px);
         transform: translate(70px);
  }
}

@-o-keyframes arrow2 {
  from {
    -o-transform: translate(-1px);
       transform: translate(-1px);
  }
  to {
    -o-transform: translate(70px);
       transform: translate(70px);
  }
}

@keyframes arrow2 {
  from {
    -webkit-transform: translate(-1px);
       -moz-transform: translate(-1px);
         -o-transform: translate(-1px);
            transform: translate(-1px);
  }
  to {
    -webkit-transform: translate(70px);
       -moz-transform: translate(70px);
         -o-transform: translate(70px);
            transform: translate(70px);
  }
}

.header-btn:hover .header-btn--second-arrow {
  -webkit-animation-name: arrow2;
     -moz-animation-name: arrow2;
       -o-animation-name: arrow2;
          animation-name: arrow2;
  -webkit-animation-duration: 500ms;
     -moz-animation-duration: 500ms;
       -o-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #323636;
}

@-webkit-keyframes arrow11 {
  from {
    -webkit-transform: translate(25px);
            transform: translate(25px);
  }
  to {
    -webkit-transform: translate(-15px);
            transform: translate(-15px);
  }
}

@-moz-keyframes arrow11 {
  from {
    -moz-transform: translate(25px);
         transform: translate(25px);
  }
  to {
    -moz-transform: translate(-15px);
         transform: translate(-15px);
  }
}

@-o-keyframes arrow11 {
  from {
    -o-transform: translate(25px);
       transform: translate(25px);
  }
  to {
    -o-transform: translate(-15px);
       transform: translate(-15px);
  }
}

@keyframes arrow11 {
  from {
    -webkit-transform: translate(25px);
       -moz-transform: translate(25px);
         -o-transform: translate(25px);
            transform: translate(25px);
  }
  to {
    -webkit-transform: translate(-15px);
       -moz-transform: translate(-15px);
         -o-transform: translate(-15px);
            transform: translate(-15px);
  }
}

.header-btn--first-arrow {
  -webkit-animation-name: arrow11;
     -moz-animation-name: arrow11;
       -o-animation-name: arrow11;
          animation-name: arrow11;
  -webkit-animation-duration: 500ms;
     -moz-animation-duration: 500ms;
       -o-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: backwards;
     -moz-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 200ms;
     -moz-animation-delay: 200ms;
       -o-animation-delay: 200ms;
          animation-delay: 200ms;
}

@-webkit-keyframes bookNow1 {
  from {
    -webkit-transform: translate(30px);
            transform: translate(30px);
  }
  to {
    -webkit-transform: translate(-1px);
            transform: translate(-1px);
  }
}

@-moz-keyframes bookNow1 {
  from {
    -moz-transform: translate(30px);
         transform: translate(30px);
  }
  to {
    -moz-transform: translate(-1px);
         transform: translate(-1px);
  }
}

@-o-keyframes bookNow1 {
  from {
    -o-transform: translate(30px);
       transform: translate(30px);
  }
  to {
    -o-transform: translate(-1px);
       transform: translate(-1px);
  }
}

@keyframes bookNow1 {
  from {
    -webkit-transform: translate(30px);
       -moz-transform: translate(30px);
         -o-transform: translate(30px);
            transform: translate(30px);
  }
  to {
    -webkit-transform: translate(-1px);
       -moz-transform: translate(-1px);
         -o-transform: translate(-1px);
            transform: translate(-1px);
  }
}

.header-btn__p {
  -webkit-animation-name: bookNow1;
     -moz-animation-name: bookNow1;
       -o-animation-name: bookNow1;
          animation-name: bookNow1;
  -webkit-animation-duration: 500ms;
     -moz-animation-duration: 500ms;
       -o-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: backwards;
     -moz-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 200ms;
     -moz-animation-delay: 200ms;
       -o-animation-delay: 200ms;
          animation-delay: 200ms;
}

@-webkit-keyframes arrow22 {
  from {
    -webkit-transform: translate(70px);
            transform: translate(70px);
  }
  to {
    -webkit-transform: translate(-1px);
            transform: translate(-1px);
  }
}

@-moz-keyframes arrow22 {
  from {
    -moz-transform: translate(70px);
         transform: translate(70px);
  }
  to {
    -moz-transform: translate(-1px);
         transform: translate(-1px);
  }
}

@-o-keyframes arrow22 {
  from {
    -o-transform: translate(70px);
       transform: translate(70px);
  }
  to {
    -o-transform: translate(-1px);
       transform: translate(-1px);
  }
}

@keyframes arrow22 {
  from {
    -webkit-transform: translate(70px);
       -moz-transform: translate(70px);
         -o-transform: translate(70px);
            transform: translate(70px);
  }
  to {
    -webkit-transform: translate(-1px);
       -moz-transform: translate(-1px);
         -o-transform: translate(-1px);
            transform: translate(-1px);
  }
}

.header-btn--second-arrow {
  -webkit-animation-name: arrow22;
     -moz-animation-name: arrow22;
       -o-animation-name: arrow22;
          animation-name: arrow22;
  -webkit-animation-duration: 500ms;
     -moz-animation-duration: 500ms;
       -o-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: backwards;
     -moz-animation-fill-mode: backwards;
       -o-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  margin-left: 5px;
  -webkit-animation-delay: 200ms;
     -moz-animation-delay: 200ms;
       -o-animation-delay: 200ms;
          animation-delay: 200ms;
}

.overlay2 {
  /* form section on top of video container*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0px 1110px;
  display: block;
}

/* booking form */
#form {
  background-color: #4a484b;
  width: 300px;
  height: 560px;
  padding: 20px;
  margin-top: 45px;
  border-top: 1px dashed pink;
}

legend {
  color: pink;
  font-size: 25px;
}

legend ~ label {
  color: pink;
  -webkit-text-stroke: 0.5px darkgray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 25px;
}

input {
  background-color: rgb(252, 243, 244);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 5px;
  margin: 15px;
}

input:-moz-placeholder-shown {
  color: #c8c0d9;
}

input:-ms-input-placeholder {
  color: #c8c0d9;
}

input:placeholder-shown {
  color: #c8c0d9;
}

input:focus {
  background-color: rgb(250, 212, 218);
}

.secondary-button {
  background-color: rgb(93, 117, 119);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  color: #d0e0e5;
  background-color: #323636;
  border-color: #d0e0e5;
  padding: 10px;
  margin-left: 20px;
}

/* Services section (cards) */

.container h4::first-letter {
  color: black;
  font-size: 150%;
}

.container h4 {
  color: black;
  text-align: center;
  padding-top: 10px;
}

.container h4 ~ p {
  color: black;
  text-align: center;
  padding-top: 8px;
}

.container:hover .card {
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg);
  height: 270px;
  width: 350px;
}

.card {
  height: 270px;
  width: 350px;
  position: relative;
  -webkit-transition: -webkit-transform 1500ms;
  transition: -webkit-transform 1500ms;
  -o-transition: -o-transform 1500ms;
  -moz-transition: transform 1500ms, -moz-transform 1500ms;
  transition: transform 1500ms;
  transition: transform 1500ms, -webkit-transform 1500ms, -moz-transform 1500ms, -o-transform 1500ms;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front img {
  height: 270px;
  width: 350px;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.front,
.back {
  height: 270px;
  width: 350px;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  position: absolute;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  background-color: #e4bcc1;
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

#services {
  background-color: #4a484b;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -o-object-fit: cover;
     object-fit: cover;
}

.ribbon {
  position: absolute;
  background-color: #6f8e8e;
  font-size: 20px;
  color: #e0f2f1;
  font-variant: small-caps;
  font-weight: 500;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 38px;
  left: -60px;
  padding: 4px 60px;
}

#deal-container {
  position: relative;
  overflow: hidden;
}

/* About Us section */

.about-us h2 {
  color: black;
  font-weight: 700;
  text-shadow: 1px 1px white;
}

.about-us__img img {
  height: 550px;
  margin-left: 270px;
  margin-right: -120px;
  z-index: 0;
}

.about-us__img {
  -webkit-animation: fadeIn 2s;
     -moz-animation: fadeIn 2s;
       -o-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-us p {
  color: #e4bcc1;
  font-size: 20px;
  height: 350px;
  width: 400px;
  text-align: center;
  padding: 25px 10px 25px 10px;
  letter-spacing: 0.6px;
  line-height: 30px;
  font-weight: lighter;
  background-color: #4a484b;
  margin: 60px;
}

.about-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Gallery section */

.centered-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.scrollable-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transition: 700ms cubic-bezier(0.075, 0.02, 0.165, 1);
  -o-transition: 700ms cubic-bezier(0.075, 0.02, 0.165, 1);
  -moz-transition: 700ms cubic-bezier(0.075, 0.02, 0.165, 1);
  transition: 700ms cubic-bezier(0.075, 0.02, 0.165, 1);
  -webkit-transform-origin: center;
     -moz-transform-origin: center;
      -ms-transform-origin: center;
       -o-transform-origin: center;
          transform-origin: center;
}

.scrollable-images img {
  width: 100px;
  max-width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.scrollable-images img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}

/* Contacts section */

.contacts-container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  gap: 45px;
  margin-left: 250px;
}

.contacts-box {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.contacts-box i {
  font-size: 50px;
  color: #4a484b;
  text-shadow: 3px 3px #e4bcc1;
}

.contacts-box h5 {
  font-weight: 700;
  font-size: 20px;
}

.contacts-box p {
  font-size: 20px;
}

iframe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35%;
  margin-top: 50px;
}

iframe:hover {
  -webkit-transform: scale(2);
     -moz-transform: scale(2);
      -ms-transform: scale(2);
       -o-transform: scale(2);
          transform: scale(2);
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
}

/* Footer */

.footer {
  margin-top: 50px;
  height: 180px;
  width: 1437px;
  background-color: #4a484b;
}

.footer-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  font-size: 30px;
  gap: 30px;
}

.footer-media i {
  color: #e4bcc1;
}

.footer p {
  color: #e4bcc1;
  text-align: center;
  margin-top: 25px;
  font-size: small;
}

[href] {
  text-decoration: none;
  color: black;
}